body {
  margin: 0;
  font-family: Arial;
  background: #0b0f19;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111827;
}

nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.btn {
  padding: 10px 20px;
  background: #f0b90b;
  color: black;
  text-decoration: none;
}
